@charset "UTF-8";

/* Content: https://www.w3.org/TR/css-gcpm-3/#setting-named-strings-the-string-set-pro */

@page :left {
    @top-left {
      content: element(header);
    }
  }
  
  @page :right {
    @top-right { 
      content: element(header);
    }
  }

h1 { position: running(header); }

[data-session-code] {
    string-set: sess-code attr(data-session-code);
  }


