@charset "UTF-8";

/* Using strings in the header page media content https://www.w3.org/TR/css-gcpm-3/#setting-named-strings-the-string-set-pro and HTML data tag https://www.w3.org/wiki/Choosing_an_HTML_Data_Format */

@page :left {
  @top-left {
    content: string(sess-code, first);
  }
}

@page :right {
  @top-right {
    content: string(sess-code, first);
  }
}

[data-session-code] {
  string-set: sess-code attr(data-session-code);
}

.rh-sess-code {
  display: none;
}

/* add page number to the table of contents */

div.toc>div {
  display: flex;
  font-size:9pt;
  font-style: italic;
  justify-content: space-between;
  line-height:1.2;
  margin-right: 2px;
  margin-bottom:6pt;
}

.toc a::after {  
  content: leader(dotted) "" target-counter(attr(href url), page);
  margin-right: 2px;
}
.toc ul {
  list-style-type: none;
  margin:0;
  padding-left:0;
}
.toc li {
  padding-bottom: 10pt;
}
.toc a {
  display: inline-flex;
  /* width: 100%; */
  flex: auto;
  text-decoration: none;
  /* justify-content: space-between; */
  align-items: flex-end;
  color: black;
  pointer-events: none;
  font-family:Times New Roman;
  font-size: 9.96pt;
  line-height: 1.2;
}

span.descres-code {
  /* display: inline-block; */
  /* min-width: 90px; */
  margin-right: 30px;
  align-self: baseline;
}
.toc a > span.descres-code {
  pointer-events: auto!important;
  color:blue;
  text-decoration:underline!important;
}
.toc a > span.descres-title {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  margin:0!important;
}





